# Python
.env
__pycache__/
*.pyc
*.py[cod]
*$py.class
data/*.csv

# Node
webapp/node_modules/
webapp/static/css/output.css

# VS Code
.vscode/

# Environment
venv/
env/
.env.local

# Logs
*.log

# macOS system files
.DS_Store

# Build cache
.cache/
.parcel-cache/

# Package manager lock files (optional)
Pipfile.lock
poetry.lock